@model Vidly.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";

    @*var className = Model > 0 ? "popular" : null;*@
}

<h2>Movies</h2>
<p>@Html.ActionLink("New", "Edit", "Movies", new { Id = 0 }, new { @class = "btn btn-primary" })</p>
<table class="table table-hover table-bordered">
    <thead>
        <tr class="info">
            <th scope="col">Id</th>
            <th scope="col">Name</th>
        </tr>
    </thead>

    <tbody>
        @foreach (Vidly.Models.Movie m in Model.Movies)
        {
            <tr>
                <td>@m.Id</td>
                <td>@Html.ActionLink(m.Name, "Edit", "Movies", new { id = m.Id }, new { })</td>
            </tr>
        }
    </tbody>
</table>

@*
    <h2 class="@className">@Model.Movie.Name</h2>

    @if(Model.Customers.Count == 0)
    {
        <p>Noone has rented this movie</p>
    }
    else
    {
        <ul>
            @foreach(Vidly.Models.Customer c in Model.Customers)
            {
                <li>@c.Name</li>
            }
        </ul>
    }
*@